apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service.monitoring:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki-service.monitoring:3100
